@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    display: flex;
    justify-content: space-between;
    background: rgb(64, 160, 58);
    align-items: center;
    text-shadow: 2px 2px 4px #000000;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        padding: 2% 15%;

    }


    div {
        width: 40%;
        


        ul {
            display: flex;
            justify-content: space-between;
            font-family: "Inter", sans-serif;
            list-style: none;
            color: white;


        }
    }

}

    .section1{
        display: flex;
        background: rgb(64, 160, 58);
        justify-content: space-between;
        align-items: center;
        padding: 5% 15%;
        text-shadow: 2px 2px 2px #000000;

        div{
            h1{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                padding-bottom: 15px;
                color: white;
                letter-spacing: 5px;   
            }
            h2{
                font-family: "Koh Santepheap", serif;
                font-size: 2rem;
                padding-bottom: 15px;
                color: white;  
                 
                  }

            p{
                font-family: "Inter", sans-serif;
                font-size: 0.8rem;
                padding-bottom: 25px;
                color: white;
            }

            button{
                font-family: "Inter", sans-serif;
                font-weight: 700;
                padding: 2% 5%;
                border: none;
                border-radius: 5px;
            }
        }

        
    }

    .textos{
        
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        
       

        div{
            
            text-align: center;
            padding: 2% 0;
            
        }
        


        h3{
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            padding-bottom: 5%;
            letter-spacing: 10px;   
            
        }

        h2{
            font-family: "Koh Santepheap", serif;
            font-size: 2rem;
            padding-bottom: 5%;
        }

        p{
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            
            
        }
    }

    .imagens{
       
        
        
        div{
          
            display: flex;
            justify-content: space-between;
            margin: 5% 15%;
          
        }

        
    }

    .section3{ display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 10%;
      

        div{
           
            width: 45%;
       
        }

        h3{
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            padding-bottom: 5%;
        }

        h2{
            font-family: "Koh Santepheap", serif;
            font-size: 2rem;
            padding-bottom: 5%;
        }

        p{
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            padding-bottom: 5%;
            
            
        }

        button{
            font-family: "Inter", sans-serif;
            font-weight: 700;
            padding: 2% 5%;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: rgb(44, 39, 39);
            
            
        }

    

    }

    .section4{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 15%;

        div{
            width: 45%;

            h3{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                padding-bottom: 5%;
            }
    
            h2{
                font-family: "Koh Santepheap", serif;
                font-size: 2rem;
                padding-bottom: 5%;
            }
    
            p{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                padding-bottom: 5%;
                
                
            }
    
            button{
                font-family: "Inter", sans-serif;
                font-weight: 700;
                padding: 2% 5%;
                border: none;
                border-radius: 5px;
                color: white;
                background-color: rgb(44, 39, 39);
                
                
            }
        }

    }

    .section5{
        div{
            text-align: center;
            margin-top: 5%;
            
            

            h3{
                font-family: "Inter", sans-serif;
                padding-bottom: 1rem;
                letter-spacing: 10px;   
            }

            h2{
                font-family: "Koh Santepheap", serif;
                padding-bottom: 1rem;
                font-size: 2rem;
            }

            p{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                
                
            }
        }
    }

    .section6{
        
        
        margin-top: 5%;

        .container-img{
            display: flex;
            padding: 0% 15%;
            justify-content: space-between;


            div{
                
                padding: 2% 3%;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                
            }
            
            

            h2{
                font-family: "Koh Santepheap", serif;
                font-size: 1.5rem;
                padding-bottom: 1rem;
                
            }

            p{
                font-family: "Inter", sans-serif;
                font-size: 1rem;
            }
        }

    
        
    }

    footer{
        background: rgb(64, 160, 58);
        padding: 1% 15%;
        margin-top: 5%;

        div{
           
            display: flex;
            justify-content: space-between;
            
            
            
        }
    }
 
    